@model List<Empleado>
<h1>Session Empleados OK</h1>

<p>
    <a asp-controller="Empleados" asp-action="EmpleadosAlmacenadosOK">Empleados almacenados OK</a>
</p>

<h3 style="color:lightblue">@ViewData["MENSAJE"]</h3>

<ul class="list-group">
    @foreach (Empleado empleado in Model)
    {
        <li class="list-group-item-dark">
            @empleado.Apellido
            <a asp-controller="Empleados" asp-action="SessionEmpleadosOK"
               asp-route-idEmpleado="@empleado.IdEmpleado">Almacenar empleado</a>
        </li>
    }
</ul>